body {
  margin: 0;
  padding: 0;
  font-family: cursive !important;
  background-color: #2c3e50 !important;
  color: #FFF !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
  color: #212529;
}
.listColor {
  cursor: pointer;
}
.listColor:hover::before {
  content: 'Click Here (Copy Hex Code)';
  background-color: rgba(255, 255, 255, 0.71);
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  color: #000;
  padding: 10px;
}


.ulList {
  overflow: hidden;
}

.Weather-container {
  background-color: #1b72bc9e;
  color: #fff;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}